/*responsive telefono*/
@media screen and (min-width: 430px) {
    .navbar-laterale {
        width: 40%;
        height: 100%;
        background-color: black;
    }

    .contenitore-centrale {
        width: 60%;
    }

    .icon {
        display: block;
        padding-bottom: 20px;
    }

    .icon-final {
        display: block;
    }

    .ghost-select-respo {
        display: none;
    }

    .conteiner-parole {
        flex-basis: calc(100% /4);

    }

    .ghost-select {
        display: inline-block;
    }

    hr {
        display: block;
        width: 90%;
    }

}






/*responsive tablet*/
@media screen and (min-width: 768px) {
    .card-music {
        background-color: green;
        flex-basis: calc(100%/5);


    }

    .icon {
        display: block;
        padding-bottom: 20px;

    }

    .logo-mod {
        max-width: 200px;
    }


    .conteiner-parole {
        flex-basis: calc(100% /6);

    }

    li,
    a {
        font-size: 1.4rem;
    }
}

/*responsive deskotop*/
@media screen and (min-width: 1440px) {
    .card-music {
        background-color: green;
        flex-basis: calc(100% / 7);
    }

    .navbar-laterale {
        width: 20%;
    }

    .contenitore-centrale {
        background-color: #141922;
        width: 80%;
        height: 100%;
        overflow: auto;
    }

    .conteiner-parole {
        flex-basis: calc(100% /7);

    }
}