/*responsive telefono*/
@media screen and (min-width: 430px) {
    .navbar-laterale {
        width: 40%;
        height: 100%;
        background-color: black;
    }

    .conteiner-parole {
        flex-basis: calc(100% /4);

    }

    .ghost-select {
        display: inline-block;
    }


}

/*responsive tablet*/
@media screen and (min-width: 768px) {
    .card-music {
        background-color: green;
        flex-basis: calc(100%/5);


    }

    .conteiner-parole {
        flex-basis: calc(100% /6);

    }
}

/*responsive deskotop*/
@media screen and (min-width: 1440px) {
    .card-music {
        background-color: green;
        flex-basis: calc(100% / 7);
    }

    .navbar-laterale {
        width: 20%;
    }

    .conteiner-parole {
        flex-basis: calc(100% /7);

    }
}