.conteiner {
    height: 90vh;
    width: auto;
    background-color: #141922;
    display: flex;
}

.musicbar {
    height: 10vh;
    background-color: #282828;
}

.navbar-laterale {
    width: 10vh;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-centrale {
    width: 100%;
    height: 10%;
    background-color: red;
    position: sticky;
    top: 0;

}

.contenitore-centrale {
    background-color: #141922;
    width: 100%;
    height: 100vw;
    overflow: scroll;

}

li {
    color: white;
}

.list-gender {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.conteiner-parole {
    height: 5vh;
    width: 20%;
    background-color: blue;
    color: white;
}

.recent-play {
    color: white;
    padding: 3%;
}

.conteiner-music {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    width: 45vh;
    height: 71vh;
    margin-left: 10px;
}

.card-music {
    background-color: green;
    height: 18vh;
    width: 40%;
    gap: 20px;

}